
.course{
    overflow-y: auto;
    padding: 36px;
}
.course_title{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.content_course_list{
    display: flex;
    gap: 20px;
}
.content_course_item{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.1), 0 1px 2px rgb(0 0 0 / 0.06);
    width: 400px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.content_course_body{
    display: flex;
    flex-direction: column;
    padding: 16px;
   font-size: 14px;
   flex-grow: 1;
    gap: 8px;
}
.content_course_body h3{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
.content_course_body p{
    color: #666666;
}
.content_course_body .moreinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-size: 13px;
    color: #999999;  
}

.content_course_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content_course_item:hover{
    transform: translateY(-5px);
}