html {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
button {
    border: none;
    box-shadow: none;
    border-radius: 6px;
    font-weight: 500;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    align-items: center;
}

:root {
    --primary-color: #004aad;
}
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.font-medium {
    font-weight: 500;
}
.layout {
    background-color: var(--primary-color);
    padding: 12px;
    height: auto;
}
.body {
    display: flex;
    height: 100%;
}
.sidebar {
    width: 85px;
    padding-right: 20px;
    padding-bottom: 72px;
}
.relative {
    position: relative;
}
.hidden {
    display: none;
}

.mobile-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    height: 90px;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-color);
}

.mobile-nav__logo img {
    width: 40px;
    height: 40px;
}

.mobile-nav__menu-btn {
    margin-left: auto;
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.sidebar__logo {
    padding-top: 16px;
    padding-left: 20px;
    width: 40px;
    height: 40px;
    img {
        width: 40px;
        height: 40px;
    }
}

.sidebar__devider {
    position: relative;
    height: 1px;
    background: #ffffff2c;
    margin-top: 24px;
    margin-bottom: 24px;
}
.sidebar_item {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 30px;
    color: white;
    position: relative;
}

.sidebar__list .active {
    position: relative;
    overflow: visible;
}

.sidebar__list .active a.sidebar_item {
    color: var(--primary-color);
    background-color: #f1f5f9;
    border-radius: 9999px 0 0 9999px;
}
/* hieu ung bo vien nguoc */
.sidebar__list li.active::before {
    background-color: var(--primary-color);
    position: absolute;
    content: '';
    right: -20px;
    top: -30px;
    border-radius: 0 0 9999px 0;
    width: 30px;
    height: 30px;
    z-index: 9999;
}
.sidebar__list li.active::after {
    background-color: var(--primary-color);
    position: absolute;
    content: '';
    right: -20px;
    bottom: -30px;
    border-radius: 0 9999px 0 0;
    width: 30px;
    height: 30px;
    z-index: 9999;
}
/* lop ao cho the a */
.sidebar__list .active .sidebar_item::before {
    background-color: #f1f5f9;
    position: absolute;
    content: '';
    right: -20px;
    width: 30px;
    height: 100px;
}

.content {
    border-radius: 30px;
    background-color: #f1f5f9;
    flex: 1 1 0%;
    margin-top: 82px;
    padding: 0 22px;
    min-height: calc(100dvh - 106px);
    min-width: 0px;
    padding-bottom: 40px;
    overflow-y: auto;
}
.topbar {
    height: 56px;
    display: flex;
    border-bottom: 1px solid #e2e8f0;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    font-weight: 600;
}

.topbar__previos-btn {
    min-height: 100%;
    align-items: center;
    gap: 8px;
    display: none;
    background-color: transparent;
}
.topbar__previos-btn.active {
    display: flex;
    order: 1;
}

.topbar__left {
    flex-grow: 1;
    text-align: center;
    font-size: 1.4rem;
    order: 2;
}

.topbar__right {
    display: flex;
    height: 100%;
    flex-basis: 200px;
    align-items: center;
    gap: 16px;
    order: 3;
}

.topbar__user {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
}

.topbar__user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover; /* giữ tỉ lệ và cắt vừa container */
}

.topbar__user-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

.topbar__user-role {
    font-size: 1.2rem;
    color: #64748b;
}

.topbar__user-dropdown-menu {
    position: absolute;
    top: 120%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    min-width: 200px;
    font-weight: 400;
    padding: 8px;
}

.topbar__right:hover .topbar__user-dropdown-menu {
    display: flex;
}

.topbar__user-dropdown-menu li {
    padding: 8px;
}

.topbar__user-dropdown-menu li:hover {
    background-color: #f1f5f9;
}

.topbar__user-dropdown-menu li a {
    display: block;
    width: 100%;
}

.topbar__user-dropdown-menu li i {
    margin-right: 8px;
}

.card-grid {
    margin: 32px auto 0px;
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
}
.feature-card {
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    text-align: center;
    cursor: pointer;
}
.feature-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-card i {
    font-size: 3rem;
    color: var(--primary-color);
}

@media (min-width: 640px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .content {
        margin-top: 0;
        height: calc(100dvh - 24px);
    }
    .sidebar {
        display: block;
    }
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1024px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1280px) {
}
