html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
button {
    border: none;
    box-shadow: none;
    border-radius: 6px;
    font-weight: 500;
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    align-items: center;
}

:root {
    --primary-color: #004aad;
}
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.font-medium {
    font-weight: 500;
}
.layout {
    background-color: var(--primary-color);
    padding: 12px;
    height: 100dvh;
}
.body {
    display: flex;
    height: 100%;
}
.sidebar {
    width: 85px;
    padding-right: 20px;
    padding-bottom: 72px;
}
.relative {
    position: relative;
}
.sidebar__logo {
    padding-top: 16px;
    padding-left: 20px;
    width: 40px;
    height: 40px;
    img {
        width: 40px;
        height: 40px;
    }
}

.sidebar__devider {
    position: relative;
    height: 1px;
    background: #ffffff2c;
    margin-top: 24px;
    margin-bottom: 24px;
}
.sidebar_item {
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 30px;
    color: white;
    position: relative;
}

.sidebar__list .active {
    position: relative;
    overflow: visible;
}

.sidebar__list .active a.sidebar_item {
    color: var(--primary-color);
    background-color: #f1f5f9;
    border-radius: 9999px 0 0 9999px;
}
/* hieu ung bo vien nguoc */
.sidebar__list li.active::before {
    background-color: var(--primary-color);
    position: absolute;
    content: '';
    right: -20px;
    top: -30px;
    border-radius: 0 0 9999px 0;
    width: 30px;
    height: 30px;
    z-index: 9999;
}
.sidebar__list li.active::after {
    background-color: var(--primary-color);
    position: absolute;
    content: '';
    right: -20px;
    bottom: -30px;
    border-radius: 0 9999px 0 0;
    width: 30px;
    height: 30px;
    z-index: 9999;
}
/* lop ao cho the a */
.sidebar__list .active .sidebar_item::before {
    background-color: #f1f5f9;
    position: absolute;
    content: '';
    right: -20px;
    width: 30px;
    height: 100px;
}

.content {
    border-radius: 30px;
    background-color: #f1f5f9;
    flex: 1 1 0%;
    padding: 0 22px;
    min-height: 100%;
    min-width: 0px;
    padding-bottom: 40px;
}
.top_bar {
    min-height: 56px;
    border-bottom: 1px solid #e2e8f0;
}
.infomation {
    display: block;
    width: 100%;
}
#back__button {
    background-color: #f1f5f9;
    gap: 10px;
    span {
        font-size: 1.4rem;
    }
}
.ava {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #004aad;
    h1 {
        color: #fff;
    }
}
.user-info {
    padding-left: 12px;
    padding-right: 12px;
    flex-direction: column;
    justify-content: space-between;
    .font-medium {
        font-size: 1.4rem;
    }
    span {
        font-size: 1.4rem;
    }
}
.flex.align-center.info {
    gap: 12px;
}

.title {
    font-weight: 600;
    font-size: 1.4rem;
    flex: 1;
    color: #1e2c3b;
    justify-content: center;
}
.type {
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
}
.type:hover {
    cursor: pointer;
    background-color: #ebeef6;
}
.type.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
#action {
    margin-top: 20px;
    button {
        font-family: Roboto;
    }
}
#search_zone {
    gap: 12px;
}
#filter__button {
    background-color: #fff;
    svg {
        width: 16px !important;
        height: 16px !important;
    }
}
.search__box {
    input {
        padding: 8px 32px 8px 12px;
        border-radius: 5px;
        border: none;
        border-color: #edf1f5;
        box-shadow: 0 0 1px 2px #edf1f5;
    }
    input:focus {
        outline: none;
    }
    svg {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 16px;
        height: 16px;
    }
    svg:hover {
        cursor: pointer;
    }
}
#action__button {
    gap: 12px;
}
#add__course {
    background-color: var(--primary-color);
    color: #fff;
}
#remove__course {
    background-color: #df3b3b;
    color: #fff;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.course__list {
    .grid {
        margin-top: 20px;
    }
}
.course__item {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #fff;
    .course__image {
        img {
            width: 100%;
            border-radius: 12px 12px 0 0;
        }
    }
    .course__info {
        padding: 12px;
        flex-direction: column;

        .course__name {
            font-weight: 600;
            font-size: 1.4rem;
            color: #1e2c3b;
        }
        .course__description {
            margin-top: 8px;
            margin-bottom: 8px;
            font-size: 1.4rem;
            color: #1e2c3b;
        }
        .price {
            display: flex;
            font-weight: 600;
            font-size: 1.4rem;
            color: #f05123;
            margin-bottom: 16px;
        }
        .course__details {
            gap: 8px;
            font-size: 1.4rem;
            span {
                color: #666;
            }
            svg {
                width: 16px;
                height: 16px;
                color: #666;
            }
            .hours {
                display: flex;
                gap: 8px;
                align-items: center;
            }
            .class__number {
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
    }
}
