body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-vector/abstract-fluid-background-with-colorful-gradient_747896-3553.jpg');
}

.container {
    padding: 16px;
    background: white;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
}

.section h1 {
    margin-bottom: 5px;
    text-align: center;

}

.section p {
    margin-top: 0;
    text-align: center;
    color: grey;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    margin-bottom: 6px;
    display: block;

}

input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 8px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary {
    width: 100%;
    background-color: rgb(6, 160, 232);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin: 20px 0 20px 0;
    font-size: 16px;
}

.btn-primary:hover {
       background-color: rgb(21, 138, 193);
    color: black
}

.btn-sign-in {
    display: flex;
    justify-content: center;
}
.btn-social{
    width: 50px;
    height:50px;
    padding: 10px 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    color: white;
}
.btn-facebook {
    background-color: #3b5998;
}
.btn-google {
    background-color: #db4437;
}
.btn-twitter {
    background-color: #1da1f2;
}
.btn-sign-in .btn-social:hover {
    opacity: 0.8;
}
.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.or-text {
  display: flex;
  align-items: center;
  text-align: center;
  color: #555;
}

.or-text::before,
.or-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}
.forgot-password a, .Register a {
    color: #069fe8;
    text-decoration: none;
}
.forgot-password a:hover, .Register a:hover {
    text-decoration: underline;
}
.Register {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #666666
    ;
}