body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-image: url('https://img.freepik.com/premium-vector/abstract-fluid-background-with-colorful-gradient_747896-3553.jpg');

}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.intro-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.intro-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.container {
    padding: 16px;
    background: white;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
}

.section h1 {
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 15px;

}

.form-group {
    margin-bottom: 15px;
}

.label {
    margin-bottom: 6px;
    display: block;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#confirmPassword {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 8px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary {
    width: 100%;
    background-color: rgb(6, 160, 232);
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin: 20px 0 20px 0;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: rgb(21, 138, 193);
    color: black
}
.sign-in-link{
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #6666;
}
.sign-in-link a {
    margin-left: 5px;
    text-decoration: none;
    color: #069fe8;

}
